<div class="jumbotron">
  <div class="container-fluid text-center text-white">
    <h1>About Us</h1>
    <p class="lead">We are a team of engineers who want to turn a common man into a wise investor!</p>
  </div>
</div>
<div class="container">
  <h3 class="text-center">The minds behind 'Investobuddy'</h3>
  <br>
    <div class="row">
        <div class="col-sm">
          <div class="card">
            <!--<img class="card-img-top" src="../../../shreyas-card.png" alt=""> -->
            <div class="card-body text-justify">
              <h5 class="card-title text-center">Shreyas Kailasanathan</h5>
              <p class="card-text">Shreyas is currently pursuing his BTech degree from Sardar Patel Institute of Technology, Mumbai. Having read various financial books, he knows a ton about finance. Also he is a great financial analyst which makes him perfect to be one of the founders of the company.</p>
              <a href="https://www.linkedin.com/in/shreyas-kailasanathan-369313a1/?originalSubdomain=in" class="btn btn-primary">View Profile</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
          <!-- <img class="card-img-top" src="../../../vishal-card.jpg" alt=""> -->
            <div class="card-body text-justify">
              <h5 class="card-title text-center">Vishal Ramina</h5>
              <p class="card-text">Vishal is currently pursuing his BTech degree from Sardar Patel Institute of Technology, Mumbai. His interests lie in finance and management. He is also keen about technology and looks forward to use it for financial analysis, surely an important founding member!</p>
              <a href="https://www.linkedin.com/in/vishal-ramina/" class="btn btn-primary">View Profile</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
            <div class="card">
            <!-- <img class="card-img-top" src="../../../tanay-card.jpg" alt=""> -->
              <div class="card-body text-justify">
                <h5 class="card-title text-center">Tanay Mehendale</h5>
                <p class="card-text">Tanay is currently pursuing his BTech from Sardar Patel Institute of Technology, Mumbai. His interests lie in software development. He is curious about this domain and test it out of his comfort zone. Ofcourse an important founding member of the company!</p>
                <a href="https://www.linkedin.com/in/tanay-mehendale-95058718a/" class="btn btn-primary">View Profile</a>
              </div>
            </div>
          </div>
      </div>
</div>
<br>
<hr class="my-4">
