<div class="jumbotron text-white jumbotron-image">
  <div class="container-fluid text-center text-white">
    <h1>Ready to invest?</h1>
    <p class="lead"> But first find out which stock is the best for you!</p>
  </div>
</div>
<div class="container">
  <h3 class="text-left">Select a Stock:</h3>
  <div class="row">
  <div class="col-lg">
    <div class="form-group">
      <select class="form-control" id="selectStock">
        <option>Apple     : AAPL</option>
        <option>Google    : GOOGL</option>
        <option>Infosys   : INFY</option>
      </select>
    </div>
  </div>
  <div class="col-lg">
    <button type="button" class="btn btn-outline-primary">Go</button>
  </div>
</div>
</div>
<br>
<div class="container">
  <h4>Intrinsic value of selected stock is : </h4>
  <br>
  <h4>Current value of selected stock is : </h4>
  <br>
  <hr class="my-4">
  <h4>Stock plot:</h4>
  <!--Enter code for showing stock plot here -->
  <br>
  <hr class="my-4">
  <h4>Prediction plot: </h4>
</div>
<br>
<hr class="my-4">
<br>
<div class="container text-center">
  <h3>Investobuddy's Conclusion</h3>
  <p class="text-uppercase text-center">Stock 'selectedStock' is</p>
</div>
<hr class="my-4">