<div class="jumbotron text-white jumbotron-image">
    <div class="container-fluid text-center">
        <h1>Investobuddy</h1>
        <p class="lead">Helping you to make a wise investment decision!</p>
    </div>
</div>
<div class="container" id=intro>
    <h2 class="text-center">What is Investobuddy?</h2>
    <br>
    <p align="justify">Every individual plans for his/her life ahead to achieve certain goals he/she may have in mind. To achieve this, the individual makes some financial planning and starts to save. But the saved money will not be growing his/her wealth. Investing the money that he/she saves allows the money to grow to a larger sum. Investing money into treasury or municipal bonds, certificates of deposit and savings accounts builds wealth slowly over the course of time. Therefore, investing in the right company is a crucial issue to avoid unnecessary losses.</p>
    <p align="justify"><b>Investobuddy</b>, aims to bring a sense of assurance to our clients to invest in a particular stock backed by predictive technology and data-driven solutions. When a client chooses to invest in a particular stock/company, our product calculates the intrinsic value of that stock, and tells the client by what degree is the business overvalued or undervalued. Furthermore, our product tells the client till when the business will be overvalued or undervalued, using day to day analysis of market data over a period of time. Thus helping our client to make a wise investment. All of this can be achieved through state-of-the-art Machine Learning and the everlasting fundamentals of value investing.</p>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card Vision-Mission">
                <div class="card-body text-justify">
                  <h5 class="card-title">Our Vision</h5>
                  <p class="card-text">To attract and motivate every individual irrespective of age, financial knowledge and technical knowledge for making a wise investment in order to help achieve their life goals.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card Vision-Mission">
                <div class="card-body text-justify">
                  <h5 class="card-title">Our Mission</h5>
                  <p class="card-text">To help and support all levels of  investors to make a wiser investment through a perfect blend of Fundamental Value Investing concepts and contemporary predictive Machine Learning and Artificial Intelligence techniques.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr>
<div class="container">
    <div class="card disclamer">
        <div class="card-body">
          <h3 class="card-title text-center">Disclamer!</h3>
          <p class="card-text text-justify">Any disclamer if we want to display to people using our webapp</p>
        </div>
    </div>
</div>
<br>